asciimatics==1.15.0
asgiref==3.9.1
charset-normalizer==3.4.3
diff-match-patch==20241021
Django==4.2.23
django-filter==25.1
django-import-export==4.3.9
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
mariadb==1.1.13
mysqlclient==2.2.7
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pillow==11.3.0
pyfiglet==1.0.3
PyJWT==2.10.1
pypdf==6.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==311
reportlab==4.4.3
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
wcwidth==0.2.13
